body {
    margin: 0;
    background: #fad39d;
    background: -webkit-linear-gradient(to right, #fad39d, #cc995a);
    background: linear-gradient(to right, #fad39d, #cc995a);

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carCanvas {
    background: rgb(30, 28, 28);
}

#networkCanvas {
    background: url("https://opengameart.org/sites/default/files/road_0.png");
    background-size: cover;
    color: black
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background: blue;
}